<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Urbanizacion El Zorongo</description>
    <display-name>CPUZ</display-name>
    <context-param>
        <param-name>emailadmin</param-name>
        <param-value>rafaferruz@laboraldetarragona.com</param-value>
    </context-param>
    <context-param>
        <description>Directorio de las páginas JSP</description>
        <param-name>dirPages</param-name>
        <param-value>/WEB-INF/pages</param-value>
    </context-param>
    <context-param>
        <description>Directorio base de los rescursos estáticos</description>
        <param-name>dirHomeResources</param-name>
        <param-value>http://www.laboraldetarragona.com/ZORONGO</param-value>
    </context-param>
    <context-param>
        <param-name>dirCommonResources</param-name>
        <param-value>http://www.laboraldetarragona.com/comunes</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>dirApplication</param-name>
        <param-value>http://localhost:8080/CPUZ</param-value>
    </context-param>
    <filter>
        <filter-name>Spring2</filter-name>
        <filter-class>com.cpuz.filters.Spring2</filter-class>
    </filter>
    <filter>
        <filter-name>UserLogin</filter-name>
        <filter-class>com.cpuz.filters.UserLogin</filter-class>
        <init-param>
            <param-name>UserLoginParamName</param-name>
            <param-value>userlogin</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>InvalidatingSession</filter-name>
        <filter-class>com.cpuz.filters.InvalidatingSession</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>InvalidatingSession</filter-name>
        <url-pattern>/pages/logout.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Spring2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLogin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <jsp-file>/WEB-INF/pages/init.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FrontViewsController</servlet-name>
        <servlet-class>com.cpuz.servlets.FrontViewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticiasListController</servlet-name>
        <servlet-class>com.cpuz.controllers.NoticiasListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticiasEditController</servlet-name>
        <servlet-class>com.cpuz.controllers.NoticiasEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentariosContentListController</servlet-name>
        <servlet-class>com.cpuz.controllers.ComentariosContentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentariosEditController</servlet-name>
        <servlet-class>com.cpuz.controllers.ComentariosEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentariosListController</servlet-name>
        <servlet-class>com.cpuz.controllers.ComentariosListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectionsListController</servlet-name>
        <servlet-class>com.cpuz.controllers.SectionsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectionsEditController</servlet-name>
        <servlet-class>com.cpuz.controllers.SectionsEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoticiasListController</servlet-name>
        <url-pattern>/NoticiasListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticiasEditController</servlet-name>
        <url-pattern>/NoticiasEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentariosContentListController</servlet-name>
        <url-pattern>/ComentariosContentListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentariosEditController</servlet-name>
        <url-pattern>/ComentariosEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentariosListController</servlet-name>
        <url-pattern>/ComentariosListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontViewsController</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectionsListController</servlet-name>
        <url-pattern>/SectionsListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectionsEditController</servlet-name>
        <url-pattern>/SectionsEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/index</url-pattern>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/index.htm</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
		</session-timeout>
    </session-config>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/pages/httpErrorX.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/httpErrorX.jsp</location>
    </error-page>
    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/tlds/ztags</taglib-uri>
            <taglib-location>/WEB-INF/tlds/ztags.tld</taglib-location>
        </taglib>
        <jsp-property-group>
            <display-name>JSP group</display-name>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/pages/jspPrelude.jspf</include-prelude>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>UserIdentification</web-resource-name>
            <description/>
            <url-pattern>/admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>regularRole</role-name>
            <role-name>adminRole</role-name>
            <role-name>newsManager</role-name>
            <role-name>playerRole</role-name>
        </auth-constraint>
    </security-constraint>
    <servlet>
        <servlet-name>YavServlet</servlet-name>
        <servlet-class>net.sf.yavtags.web.YavServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YavServlet</servlet-name>
        <url-pattern>/js/yav.js</url-pattern>
    </servlet-mapping>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>DAIGUAL</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/pages/realmLoginX.jsp</form-login-page>
            <form-error-page>/WEB-INF/pages/realmErrorX.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>regularRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>adminRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>newsManager</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>playerRole</role-name>
    </security-role>
    <resource-ref>
        <res-ref-name>jdbc/CPUZ</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
