body {  font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-style: normal;
        line-height: normal;
        background-color: #000000;
        text-align: justify;
}
p {  text-align: justify; margin-left: 8pt; margin-right: 4pt;
}
table{
    background-color: #3366ff;
    color: #000000;
}
.data_table{
    background-color: #000066;
}
h3 {
    font-size: 16pt;
    font-weight: bold;
    margin-right: 6pt;
    margin-left: 6pt
}
h5 {  font-size: 12pt; font-weight: bold; margin-right: 6pt; margin-left: 6pt}
.tabladerecha {
    background-color: #3366ff;
    margin-top: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}
h6 {  font-size: 10pt; font-weight: bold; margin-bottom: 0pt}

.homepagenews{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
    background-color: #000066;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 10px;
}
a:link {
    text-decoration: none;
    font-weight: bold;
    color: yellow;
}
a:visited {
    text-decoration: none;
    font-weight: bold;
    color: yellow;
}

a.noticia_titular {
    color: #000000;
}
a.noticia_subtitulo{
    color: #000000;
}
a.noticia_destácado{
    color: #000000;
}

.form_user{
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-color: #000066;
    color: #ffffff;
}
.form_data{

    background-color: #000066;
    color: #ffffff;
}

th{
    background-color: #000066;
    color: #ffffff;
    font-size: 10pt;
    font-style: normal;
}

.tr_impar{
    background-color: #ffffff;
}

.tr_par{

    background-color: #99ffff;
}

a.composition:link {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}
a.composition:visited {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}
a.visitsection:link {
    text-decoration: none;
    font-weight: bold;
    color: #000066;
    font-size: 12px;
}
a.visitsection:visited {
    text-decoration: none;
    font-weight: bold;
    color: #000066;
}
img.compositionAbstract{

    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
img.advscompositionAbstract{

    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
p.compositionTitular{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 200.01%;
    font-weight: bold;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

p.compositionSubtitulo{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 140.01%;
    font-weight: bold;
    color: #0000cc;
    text-align: left;
    margin-right: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
p.compositionDestacado{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100.01%;
    font-weight: bold;
    color: #0000cc;
    text-align: left;
}
p.compositionAbstract{

}
p.compositionDate{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90.01%;
    color: black;
}
p.advscompositionTitular{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 140.01%;
    font-weight: bold;
    text-align: left;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: #ffffff;
}

p.advscompositionSubtitulo{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-right: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
p.advscompositionDestácado{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}
p.advscompositionAbstract{

    font-size: 10px;
}
p.advscompositionDate{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #ffffff;
}
table.composition{
    background-color: #ffffff;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
}
td.composition{
    vertical-align: top;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cccccc;
}
td.visitsection{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    text-align: right;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #000066;
    color: #000066;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: bold;
}
table.advscomposition{
    background-color: #3366ff;
}
td.advscomposition{
    vertical-align: top;
}
td.advsvisitsection{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #ffffff;
    text-align: right;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #000066;
    color: #000066;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: bold;
}
th.lastnews{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
    background-color: #cc0000;
    text-align: left;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-indent: 10px;
}
th.homepagenews{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
    background-color: #000066;
    text-align: left;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-indent: 10px;
}
