/* Estilos para displaytag */

span.pagebanner {
	font-style: italic;
}

div.pagelinks {
	text-align: center;
	font-size: 1.4em;
}

div.pagelinks a.pagebutton {
	text-decoration: none;
	background-repeat: no-repeat;
	display: inline-block;
}

div.pagelinks a.first {
	background-position: center left;
	padding-left: 24px;
	background-image:url(../images/first.png);
	_background-image:url(../images/first.gif);
}

div.pagelinks a.last {
	background-position: center right;
	padding-right: 24px;
	background-image:url(../images/last.png);
	_background-image:url(../images/last.gif);
}

div.pagelinks a.next {
	background-position: center right;
	padding-right: 24px;
	background-image:url(../images/next.png);
	_background-image:url(../images/next.gif);
}

div.pagelinks a.previous {
	background-position: center left;
	padding-left: 24px;
	background-image:url(../images/previous.png);
	_background-image:url(../images/previous.gif);
}

div.exportLinks {
	margin-top: 0.5em;
}

div.exportLinks a {
	text-decoration: none;
}

div.exportLinks span:hover {
	text-decoration: underline;
}

span.export {
	padding-left: 20px;
	background-repeat: no-repeat;
}

span.csv {
	background-image: url(../images/csv.png);
	_background-image: url(../images/csv.gif); /* IE6 hack */
}

span.excel {
	background-image: url(../images/excel.png);
	_background-image: url(../images/excel.gif); /* IE6 hack */
}

span.pdf {
	background-image: url(../images/pdf.png);
	_background-image: url(../images/pdf.gif); /* IE6 hack */
}

th.sortable.sortable {
}

th.sortable.sorted {
	font-style: italic;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: center left;
}

th.sortable.order1 {
	background-image: url(../images/up.png);
	_background-image: url(../images/up.gif); /* IE6 hack */
}

th.sortable.order2 {
	background-image: url(../images/down.png);
	_background-image: url(../images/down.gif); /* IE6 hack */
}

tr.odd {
	background-color: #e8e8e8;
}

tr.even {
	background-color: #f8f8f8;
}

tr.total {
	background-color: #a9a9a9;
	font-weight: bold;
	color: #ffffff;
}
