li.assigned {
	padding: 0.5em;
	list-style: none;
	border: solid 1px #507dc1;
	background-color : #ddddfa;
}

li.unassigned {
	padding: 0.5em;
	list-style: none;
	border: solid 1px #b6b3b3;
	background-color: #f7f4f4;
}

p.roleNote {
	font-style: italic;
	font-size:  0.9em;
}
