/* Contenedor del plan de estádios. */
div#studyPlanContainer {
	border: solid 1px gray;
	overflow: hidden;
	height: 400px;
}

div#studyPlan {
	border-top: solid 6px #cccccc;
	border-left: solid 18px #cccccc;
	min-width: 10000px;
	max-width: 10000px;
	min-height: 2000px;
	max-height: 10000px;
	cursor: move;
/*	cursor: -moz-grab; */
}

/* Cabeceras (nombres de los niveles) */
div.header {
	cursor: pointer;
	float: left;
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: 8px;
}

div.header div.label {
	background-color: #ADD8E6;
	overflow: hidden;
}

/* Contenedor del árbol */
div.root {
	display: table;
	clear: both;
}

/* Un elemento del árbol. Contiene una etiqueta (div.label) y puede tener hijos como él. */
div.element {
	cursor: pointer;
	display: table;
	float: left;
	clear: both;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 8px;
	margin-left: 0px;
	background-image: url(../images/line.png);
	background-position: center left;
	background-repeat: no-repeat;
}

/* Etiqueta */
div.label {
	width: 200px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #FFFFFF;
	border: solid 1px #708090;
	overflow: hidden;
	font-size: 15px;
}

/* Etiqueta vacía con una línea horizontal */
div.empty {
	background-image: url(../images/line.png);
	background-position: center left;
	background-repeat: repeat-x;
	border: 0 !important;
	padding-left: 1px;
	padding-right: 1px;
	background-color: transparent;
	color: transparent;
}

/* Etiqueta modificada en la última acción. */
div.modified {
	background-color: #D09581 !important;
}

/* Etiqueta seleccionada. */
div.selected {
	background-color: #ADFF2F !important;
}

/* Rama colapsada */
div.collapsed div.element {
	display: none;
}

/* Etiqueta que tiene asignadas propiedades de asignatura, nota o matrícula. */
div.subject, div.mark, div.enroll, div.subjectNotAvailable, div.enrollNotAvailable {
	border: solid 1px #00008b;
	background-repeat: no-repeat;
	background-position: right top;
}

/* Etiqueta que es una asignatura */
div.subject {
	background-color: #d2e1fa;
	background-image: url(../images/studyPlan/subject.png);
}

/* Etiqueta que es una asignatura no disponile */
div.subjectNotAvailable {
	background-color: #e9edf3;
	background-image: url(../images/studyPlan/subjectNotAvailable.png);
}

/* Etiqueta que es configuración de notas */
div.mark {
	background-color: #80e6b2;
	background-image: url(../images/studyPlan/mark.png);
}

/* Etiqueta que es configuración de matriculación */
div.enroll {
	background-color: #ffbfa8;
	background-image: url(../images/studyPlan/enroll.png);
}

/* Combinaciones de iconos de asignatura, nota y matrícula. */
div.mark.subject {
	background-color: #80e6b2;
	background-image: url(../images/studyPlan/markAndSubject.png);
}

div.mark.subjectNotAvailable {
	background-color: #80e6b2;
	background-image: url(../images/studyPlan/markAndSubjectNotAvailable.png);
}

div.enroll.subject {
	background-color: #ffbfa8;
	background-image: url(../images/studyPlan/enrollAndSubject.png);
}

div.enroll.subjectNotAvailable{
	background-color: #efebe9;
	background-image: url(../images/studyPlan/enrollNotAvailableAndSubjectNotAvailable.png);
}


/* Desplegable de etiqueta */
div.label select {
	margin-top: -2px;
	margin-bottom: -2px;
}

/* Contenedor debajo del arbol */
div.separator {
	padding-top: 40px;
}

/* Botones de la ventana de propiedades de asignatura */
span.button-group button {
	padding: 0.3em 1em;
	margin: 6px;
}

input.zoom {
	width: 40px;
	height: 40px;
	font-size: 2em;
	font-weight: bold;
}

/* Desplegable de etiqueta */
div.applyValuesCheck {
	display: inline;
	padding: 12px;
	border-right: solid;
	border-width: 1px;
	
}

div.applyValuesCheckTypeText {
	margin: 0 !important;
	padding-top: 6px !important;
}

div.applyValuesCheckTypeCheckBox {
	margin: 0 !important;
	padding-top: 8px !important;
}

label.applyValuesCheck {
	padding: 12px;	
}

span.applyValuesCheck {
	display: block;
    padding-bottom: 3px;
    padding-left: 12px;	
}


