table {
	border-collapse: collapse;
}
tr th {
	text-align: center;
	vertical-align: middle;
	border: 0px !important;
}
td {
	padding: 0px;
	margin: 0px;
}
td.hour {
	border: 1px solid #ACA899;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	height: 60px;
	height: 59px\9 /* IE hack */
}
td.dayOfWeek {
	border: 1px solid #ACA899;
	width: 120px;
	text-align: left;
	vertical-align: top;
}
.divContent{
	position:absolute;
	width:844px;
	height:899px;
	border: solid 0px black;
}
.divMainHour {
	border: solid 1px black;
	padding: 0px;
	position:absolute;
	width: 118px;
	height: 58px;
	background-color: #ddddfa;
	cursor: move;
	background-image: url(../images/timeTable/help.png);
	background-repeat:no-repeat;
	background-position: center center;
}
.divHeaderHour {
	border: solid 0px black;
	padding: 0px;
	margin: 0px;
	height: 15px;
	background-color:#507dc1;
	cursor: move;
	text-align: right;
	vertical-align: top;
	border-bottom: solid 1px black;
}
.divFooterHour {
	border: solid 0px black;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 4px;
	width: 118px;
	background-color:#3c5a86;
	cursor:n-resize;
}
.inputInfoHours {
	border: 0px solid #989898 !important;
	height: 13px;
	width: 100px;
	text-align: right;
	font-size: 11px;
	background-color: transparent;
	cursor: move;
	font-weight: bold;
}
.divClassRoom{
	float:left;
	border: 0px;
	overflow: hidden;
}

.divBodyDivHour {
	background-color: transparent;
	width: 118px;
}
.yui-skin-sam .yui-panel .hd {
		padding:0 10px;
		font-size:93%;
		line-height:2;
		/*line-height:1.9;*/
		font-weight:bold;
		color:#000;
		background:url(../yui/container/assets/skins/sam/sprite.png) repeat-x 0 -200px;
}
.yui-skin-sam .container-close {
	position:absolute;
	top:5px;
	right:6px;
	width:25px;
	height:15px;
	background:url(../yui/container/assets/skins/sam/sprite.png) no-repeat 0 -300px;
	cursor:pointer;
}

#colorsInfoClassRoom {
	border: 1px solid #cccccc;
	width: 300px;
	float:left;
	top:350px;
	padding: 10px;
	margin-right: 20px;
	margin-left: 10px;
}

.groupInfo {
	border: 1px solid #cccccc;
	width: 300px;
	float:left;
	top:350px;
	padding: 10px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 10px;

	background-color: #F4F4F4;
	background-position: 98% 5%;
	background-repeat: no-repeat;
	/*font-size: 1.2em;*/
}

#tableTimeTableDiv {
	float:left;
}

#withoutClassRoomAssigned {
	height: 30px;
	background-color: #ddddfa;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	padding-top: 15px;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	background-image: url(../images/timeTable/helpLegend.png);
	background-repeat:no-repeat;
	background-position: 10px;
	font-style: normal;
	font-weight: bold;
}

#infoColorClassRoom {
	height: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	padding-top: 5px;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.infoTeacher{
	height: 40px;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	padding-top: 5px;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.infoTeacherPhoto {
	float:left;
    text-align: left;
    vertical-align: middle;
}

.infoTeacherName{
	width: 80%;
	float:left;
	padding-left:10px;
	padding-top:10px;
    text-align: left;
    vertical-align: middle;
}

.menuTimeTable {
	text-decoration:none !important;
	color: #000000;
	font-weight: bold;
}

.menuTimeTableHelp {
	text-decoration:none !important;
	color: #000000;
	font-weight:normal;
}

.yuimenuitemlabel {
	border-top-style: solid;
	border-top-color: #ccccff;
	border-top-width: 1px;
}
.teacherImage {
	margin: 2px;
	float: right;
}