@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2b (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.1
*/

@media screen, projection
{
	/*-------------------------------------------------------------------------*/

	/* (en) Marginal areas & page background */
	/* (de) Randbereiche & Seitenhintergrund */
	body { 	font-family: Verdana, Arial, Helvetica, sans-serif;
			text-align: center;
			width: 1000px;
			background-color: #000000;
			font-size: 10px;
}


	/* Layout Alignment | Layout-Ausrichtung */
	.page_margins { margin: 0 auto; }

	/* Layout Properties | Layout-Eigenschaften */
	.page_margins { width: auto;  min-width: 740px; max-width: 130em; background: #fff; }
	.page { padding: 0px; border: solid 1px black; }
	#header { padding: 0px; color: #000; background: #fff; }
	#topnav { color: #dee9f9; font-weight: 600; background: transparent; }
	#topnav a { color: #abcdff; }

	#nav { overflow:hidden; }
	div.hlist {  }
	#main { margin: 0px; background: #fff; }
	#footer { padding: 10px 20px; color:#666; background: #f9f9f9; border-top: 5px #efefef solid; }

	/* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
	#nav ul { margin-left: 20px; }

}
@media screen, projection
{

 /**
  * @section base layout | Basis Layout
  * @see     http://www.yaml.de/en/documentation/css-components/base-stylesheet.html
  *
  * |-------------------------------|
  * | #header                       |
  * |-------------------------------|
  * | #col1   | #col3     | #col2   |
  * | 200 px  | flexible  | 200px   |
  * |-------------------------------|
  * | #footer                       |
  * |-------------------------------|
  */

  #header { position:relative; }

  /* (en) Text Alignment for #topnav content */
  /* (de) Textausrichtung für #topnav Inhalte */
  #topnav { text-align:right; }  /* LTR */

  /* (en) Absolute positioning only within #header */
  /* (de) Absolute Positionierung erfolgt nur innerhalb von #header */
  #header #topnav {
    position:absolute;
    top:10px;
    right:10px; /* LTR */
  }

  /* (en) Backup for correct positioning */
  /* (de) Absicherung korrekte Positionierung */
  #header, #nav, #main, #footer { clear:both; }

  #col1 { float:left; width:0px; }
  #col2 { float:right; width:200px; }
  #col3 { width:auto; margin:0 200px 0 0; }

  /* (en) Preparation for absolute positioning within content columns */
  /* (de) Vorbereitung für absolute Positionierungen innerhalb der Inhaltsspalten */
  #col1_content, #col2_content, #col3_content { position:relative; }

 /*------------------------------------------------------------------------------------------------------*/

 /**
  * @section subtemplates
  * @see     http://www.yaml.de/en/documentation/practice/subtemplates.html
  */
  .subcolumns { width:100%; overflow:hidden; }

  /* (en) alternative class for optional support of old Mozilla/Netscape browers */
  /* (de) Alternative Klasse zur optionalen Unterstützung alter Mozilla/Netscape-Brower */
  .subcolumns_oldgecko { width:100%; float:left; }

  .c20l, .c25l, .c33l, .c40l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l { float:left; }
  .c20r, .c25r, .c33r, .c40r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { float:right; margin-left:-5px; }

  .c20l, .c20r { width:20%; }
  .c40l, .c40r { width:40%; }
  .c60l, .c60r { width:60%; }
  .c80l, .c80r { width:80%; }
  .c25l, .c25r { width:25%; }
  .c33l, .c33r { width:33.333%; }
  .c50l, .c50r { width:50%; }
  .c66l, .c66r { width:66.666%; }
  .c75l, .c75r { width:75%; }
  .c38l, .c38r { width:38.2%; }
  .c62l, .c62r { width:61.8%; }

  .subc  { padding:0 0.5em; }
  .subcl { padding:0 1em 0 0; }
  .subcr { padding:0 0 0 1em; }

  .equalize, .equalize .subcolumns { overflow:visible; display:table; table-layout:fixed; }

  .equalize > div {
    display:table-cell;
    float:none; 
    margin:0; 
    overflow:hidden;
    vertical-align:top;
  }
}

